.python-version
*.pyc
*.log
.DS_Store
.python-version
.thumbnails
*__pycache__
shopping_project/shopping/logs
shopping_project/shopping/media
shopping_project/shopping/assets
shopping_project/shopping/vookle/shopping/local.py
