{% load ting_tags %}

{% if form.non_field_errors %}
    <div class="alert alert-danger" style="margin-bottom:10px;">
        <a class="close" data-dismiss="alert" href="#">×</a>
        {{ form.non_field_errors }}
    </div>
{% endif %}

{% csrf_token %}

{% for field in form %}
    {% if field.is_hidden %}
        {{ field }}
    {% else %}
        {% if field|field_type:'checkboxinput' %}
            <div class="checkbox{% if field.errors %} has-error{% endif %}">
                <label for="id_{{ field.name }}">
                    {{ field }} {{ field.label }}
                </label>
                {% if field.help_text %}
                    <p class="help-block">{{ field.help_text }}</p>
                {% endif %}
                {% if field.errors %}
                    <p class="help-block"><i><small>{{ field.errors.0 }}</small></i></p>
                {% endif %}
            </div>
        {% else %}
            <div class="form-group{% if field.errors %} has-error{% endif %}">
                <label for="id_{{ field.name }}">{{ field.label }}{% if field.field.required %}<span class="text-danger"> *</span>{% endif %}</label>
                {{ field }}
                {% if field.help_text %}
                    <p class="help-block">{{ field.help_text }}</p>
                {% endif %}
                {% if field.errors %}
                    <p class="help-block"><i><small>{{ field.errors.0 }}</small></i></p>
                {% endif %}
            </div>
        {% endif %}
    {% endif %}
{% endfor %}
